/* 
 * Main page style sheet 
 * 
 * Created by GregaS.
 * */


/*== import external fonts ==*/
@import url("http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext");

/*== other existing libraries ==*/
@import url('arborJsStyle/arborJs.css');

/*== rules to override existing libraries ==*/

/* local font - logo text */
@font-face {
	font-family: 'Expansiva';
	src: url("expansiva/Expansiva.otf") format("opentype");
}

/* "super rules" - default for all elements */
* {
	font-family: "Helvetica Neue", "Open Sans", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
}


body {
	line-height: 1.5;
	font-size: 75%;
	color: #222;
	background: #007DBC;
	font-family: "Helvetica Neue","Open Sans","Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	color: #111;
	font-family: "Helvetica Neue", "Open Sans", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
}

textarea {
	font-family: monospace;
}


img {
	border: 0pt none;
	/*	display: block*/
}


a {
    color: #007DBC;/*#9B0ADF; vijola*/
    text-decoration: none;
}



/*=== MAIN - center  area ===*/
#halfviz {
	bottom: 27px;
	padding: 0 0px;
	left: 0;
	right: 0;
	z-index: 1;
	border-top: 1px solid #CCCCBB;
	 border-left: 1px solid #CCCCBB;
    border-right: 1px solid #CCCCBB;
}


#dbpediaMap{
	min-width: 150px; min-height: 150px; 
}


/*===  RIGHT SIDE - edit/info slide box ===*/
#grabber {
	width: 5px; 
	border-left: 1px solid #CCCCBB;
	background: none;
}

.editorBox{
	height: 100%;
	width: 100%;
}

.editorBox > div.editorMainDiv {
	position: relative;
	overflow: auto;
	display: block;
	width: 100%;
	height: 100%;
	border: 0;
	padding: 0 0 0 3px;
	margin: 0;
}
.editorBox > div.editorTitle {
	background: none repeat scroll 0 0 #333333;
	font: 10px/16px Arial, sans-serif;
	height: 17px;
	margin-left: -1px;
	overflow: hidden;
	padding: 2px 1px 2px 8px;
	width: 100%;
	color: #DDD;
}

.ctrl > div.title {
	margin: 0px 8px;
	color: #DDD;
}

.radioBtnBox {
	font-size: 60%;
	margin: 0 5px;
}
.radioBtnBox > label {

	text-align: center;
	padding: 1px 5px;
}

.editorDiv {
	padding-top: 6px;
	width: 100%;
}

.fLeft {
	float: left;
}

/*=== DASHBOARD ===*/

#dashboard {
	position: absolute;
	right: 0;
	left: 0;
	top: 5px;
	background:#eeeee2  10px 8px no-repeat;
	border-right: 1px solid #CCCCBB;
	 border-left: 1px solid #CCCCBB;
}
#dashboard a.help {
	background: url("../img/question3.png") repeat scroll left top transparent;
}

#dashboard .controls {
	font: " ";
}

/* #searchImg,#queryImg,#viewImg - change to icoPopUp  */
.icoPopUp {
	float: left;
	margin: 15px 0 0 10px;
	padding: 0;
	vertical-align: bottom;
	width: 20px;
	height: 20px;
}


/*=== Left PopUp box ===*/
  
.popupBox{
  position:fixed;
  top:68px;
  left: 10px;
  z-index:2;
  display:none;
  padding: 0px 20px 20px 20px;
  max-width:570px;

  /* opacity: 0.97;
	 change var opacityPopUp = 0.97; in general.js */
  background: rgba(238, 238, 226,0.97); /*background:#eeeee2;*/;
  border-radius:4px;
}


.popupBox h1{
  font:10px/18px Arial;
  margin:15px 6px 8px 0;
  text-transform:uppercase;
}
.popupBox h1 a{
  float:right;
  text-decoration:none;
  color:black;
  font-size:16px;
}
.popupBox p{
  margin:0 0 1em 0;
}

.popupBox p a{
  color:#D36E00;
  text-decoration:none;
}
.popupBox p a:hover{
  text-decoration:underline;
}
  
  
  


#logoPoz {
	text-decoration: none;
	margin: 0px auto;
	width: 400px;
	z-index: 1;
	position: relative;
	text-align: center;
	
}

#logoPoz > a {
	 color: #007DBC;
	text-decoration: none;
	font: 25px/48px "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-family: 'Expansiva';
	  font-weight: 600 !important;
	  text-shadow: 0 0 0 #000000;
}


/*=== Left PopUp box - View pad ===*/
#arbor_displayProperties{
	
	position: relative;left: 200px;overflow: auto;max-height: 200px;float:left;
}
.bordersTopBottom{
	border-bottom: 1px solid #CCCCBB;border-top: 1px solid #CCCCBB;
	margin-bottom: 10px;
    margin-top: 10px;
     padding: 10px;
}


/*=== Left PopUp box - Query pad ===*/
#queryText{width:530px}


/*=== Left PopUp box - Search pad ===*/
.filter_addedProp_cell a {
	float: right;
	text-decoration: none;
	color: black;
	font-size: 16px;
	padding-right: 20px;
}

#filter_addedProperties {
	border: 1px solid #CCCCBB;
	padding: 5px;
	max-height: 250px;
	overflow: auto;/*overlay;*/
}

.filter_addedProp_cell {
	overflow: hidden;
	padding: 5px 0;
	border-bottom: 1px solid rgb(204, 204, 187);
}

/* -------------------*/
.accordion {
	border: 1px solid #ddd;
	border-top: none;
	margin: 10px 0;
}

.accordion > a {
	display: block;
	text-decoration: none;
}
.accordion > h2, .accordion > a {
	background-color: #fff;	
	background-image: -moz-linear-gradient(bottom, #f1f1f1, #fff);
	background-image: -ms-linear-gradient(bottom, #f1f1f1, #fff);
	background-image: -o-linear-gradient(bottom, #f1f1f1, #fff);
	background-image: -webkit-linear-gradient(bottom, #f1f1f1, #fff);
	background-image: linear-gradient(bottom, #f1f1f1, #fff);
	border-top: 1px solid #ddd;
	color: #222;
	font-size:13px;
	margin: 0;
	padding: 10px 10px;
	
	cursor: pointer;
}

.accordion > p {
	color: #555;
	padding: 20px 10px;
}

.accordion > div {
	padding: 20px 10px;
}

/* ---------------*/

.propertySug {
	background: none no-repeat scroll 10px 8px #EEEEE2;
	border: 1px solid #CCCCBB;
	border-radius: 0 4px 0 4px;
	position: absolute;
	z-index: 3;
}


/*=== Left bottom - status box ===*/

#selectedNode_statusBox {
	background: none no-repeat scroll 10px 8px rgb(238, 238, 226);
	border-left: 1px solid #CCCCBB;
    border-right: 1px solid #CCCCBB;
    border-top: 1px solid #CCCCBB;
	
	border-radius: 0 0 4px 4px;/*border-radius: 0px 4px 0px 4px;*/
	float: left;
	max-height: 28px;
	left: 0;
	position: absolute;
	z-index: 3;
	bottom: 5px;
	right: 0;
}

#selectedNode_statusBox > div, #selectedNode_statusBox > input {
	float: left;
	margin: 5px;	/*padding-left: 5px;*/
	max-height: 20px;
}

#ajax_loadImg img {
	height: 28px;
	width: 28px;
	border-radius: 4px;
	margin: -5px;
}


#selectedNode_canvasContextMenu{
	
	display:none;
	max-width: 200px;
	border: 1px solid #CCCCBB;
	z-index: 3;
	position: absolute;
	left: 200px;
	top: 200px;
	background: #eeeee2;
	border-radius:  0 14px 14px 14px; 
	padding: 4px;
	font-size: 10px;
}

#selectedNode_canvasContextMenu > div >input {
	margin: 2px;	/*padding-left: 5px;*/
	max-height: 20px;
}



	
/* forms .css */

select {
border: 1px solid #ccc;
background: #f6f6f6;
width: 257px;
}


input[type="button"] {
    border: 1px solid #CCCCBB;
    border-radius: 4px 4px 4px 4px;
      cursor: pointer;
}

input[type="button"]:hover {
    color:#000000;
    background-color:#FFFFFF;
}
	
.btn{
	display:inline-block;
	padding:6px 12px;
	margin-bottom:0;
	font-size:13px;
	font-weight:normal;
	line-height:1.428571429;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	border:1px solid transparent;
	border-radius:4px;
	white-space:nowrap;-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none;

}

.btn:active, .btn.active {
	outline: 0;
	background-image: none;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-primary {
	color: #ffffff;
	background-color: #007DBC;
	border-color: #1771a3;
}

.btn-primary:hover /*, .btn-primary:focus, .btn-primary:active, .btn-primary.active*/ {
	color: #ffffff;
	background-color: #156795;
	border-color: #0f4b6d;
}

#intro {
	background: none repeat scroll 0 0 #EEEEE2;
	border-radius: 4px 4px 4px 4px;
	font: inherit;
	left: 0px;
	margin: 0px auto;
	max-width: 270px;
	padding: 0 20px;
	position: relative;
	top: 0px;
	width: 400px;
	z-index: 5;
}

.copyright{
	float: right;            
    position: fixed;      
    text-decoration: none;            
    z-index: 5;
    bottom: 10px;
    right: 20px;
    font-size: 12px;
}

